text
streamlit>=1.24.0
newspaper3k>=0.2.8
pandas>=1.5.3
python-dateutil>=2.8.2
nltk>=3.8.1
requests>=2.31.0
beautifulsoup4>=4.12.2
lxml[html_clean]>=4.9.3
cssselect>=1.2.0
feedparser>=6.0.10
tqdm>=4.65.0
PyYAML>=6.0
feedfinder2>=0.0.4
jieba3k>=0.35.1



